soa4-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1fa6b9b0-22ae-4cea-9c55-b16d9cdf2972" >
		<http:listener-connection host="0.0.0.0" port="8081" protocol="HTTPS" tlsContext="TLS_Context">
		</http:listener-connection>
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="a1cc1bc9-2049-4427-bd12-50308d5d0b02" >
		<wsc:connection wsdlLocation="http://localhost:8080/ws/soa4.wsdl" service="Soa4PortService" port="Soa4PortSoap11" address="http://localhost:8080/ws">
			<wsc:custom-transport-configuration >
				<wsc:http-transport-configuration requesterConfig="HTTP_Request_configuration" />
			</wsc:custom-transport-configuration>
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7b1637f3-a201-42c4-92ed-cbbe2931193a" >
		<http:request-connection protocol="HTTPS" host="localhost" port="8080" tlsContext="TLS_Context">
		</http:request-connection>
	</http:request-config>
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="86e5edfb-b1a2-4c03-967b-3d4f6248e7a8" >
		<tls:trust-store path="keystore.jks" password="changeit" type="jks" insecure="true"/>
		<tls:key-store type="jks" path="keystore.jks" alias="baeldung" keyPassword="changeit" password="changeit"/>
	</tls:context>
	<flow name="getAllSpaceMarines" doc:id="ca77f896-8c7a-422f-90a9-50f55a72140c" >
		<http:listener doc:name="Listener" doc:id="d2229c7e-e6a6-4a9e-bdbb-e79ac9e0de1e" config-ref="HTTP_Listener_config" path="/api/v1/space-marines" outputMimeType="application/xml" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET,POST,PUT,DELETE",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[read(error.cause.cause.detail,'application/xml').detail.errorCode]">
				<http:body ><![CDATA[#[output application/xml --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="fdba27f2-803b-437d-8527-e8f8cc4f74cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/xml
ns gs 8080/api/v1/space-marines
---
{
 gs#getAllSpaceMarinesRequest: {
  gs#id: attributes.queryParams.id,
  gs#creationDate: attributes.queryParams.creationDate,
  gs#page: attributes.queryParams.page,
  gs#size: attributes.queryParams.size,
  gs#sort: attributes.queryParams.sort,
  gs#order: attributes.queryParams.order,
  gs#name: attributes.queryParams.name,
  gs#coordinatesX: attributes.queryParams.coordinatesX,
  gs#coordinatesY: attributes.queryParams.coordinatesY,
  gs#loyal: attributes.queryParams.loyal,
  gs#health: attributes.queryParams.health,
  gs#height: attributes.queryParams.height,
  gs#meleeWeapon: attributes.queryParams.meleeWeapon,
  gs#chapterName: attributes.queryParams.chapterName,
  gs#chapterParentLegion: attributes.queryParams.chapterParentLegion,
  gs#chapterWorld: attributes.queryParams.chapterWorld,
  gs#starshipId: attributes.queryParams.starshipId
 }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getAllSpaceMarines" doc:name="Consume" doc:id="3d6cc932-5717-42c0-a718-fb71d6da32c7" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="0bd20b72-9ead-4027-a75d-8a1ac2f2d81f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 8080/api/v1/space-marines
---
{
	SpaceMarines: {
		(payload.body.ns0#getAllSpaceMarinesResponse.*ns0#spaceMarines map ( spaceMarine , indexOfSpaceMarine ) -> {
			spaceMarines: {
				id: spaceMarine.ns0#id default 0,
				name: spaceMarine.ns0#name default "",
				coordinates: {
					x: spaceMarine.ns0#coordinates.ns0#x default 0,
					y: spaceMarine.ns0#coordinates.ns0#y default 0
				},
				creationDate: spaceMarine.ns0#creationDate default |1815-12-10|,
				health: spaceMarine.ns0#health default 0,
				loyal: spaceMarine.ns0#loyal default true,
				height: spaceMarine.ns0#height default 0,
				meleeWeapon: spaceMarine.ns0#meleeWeapon default "",
				chapter: {
					name: spaceMarine.ns0#chapter.ns0#name default "",
					parentLegion: spaceMarine.ns0#chapter.ns0#parentLegion default "",
					world: spaceMarine.ns0#chapter.ns0#world default ""
				},
				starshipId: spaceMarine.ns0#starshipId default 0
			}
		})
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7df3d206-b20d-4cd4-bbd0-223ce7c01a9e" type="ANY" >
				<ee:transform doc:name="Transform Message" doc:id="f14c55dc-4a2e-4b62-88d4-6373e58ed7b0" >
					<ee:message >
						<ee:set-payload ><![CDATA[output application/xml
ns ns0 http://mulesoft.org/tshirt-service
ns soap http://schemas.xmlsoap.org/soap/envelope/
---
{
	soap#Envelope: {
		soap#Body: {
			soap#Fault: {
				faultcode: error.errorMessage.payload,
				faultstring: error.description,
			}   
		}
}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="13b39227-0d15-4020-9494-8b1658aeeacf" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getSpaceMarine" doc:id="b1712cbc-ad95-4b6e-840d-70b827640369" >
		<http:listener doc:name="Listener" doc:id="809c5e7f-cf9a-451e-95b7-b1cffce2b095" config-ref="HTTP_Listener_config" path="/api/v1/space-marines/{id}" outputMimeType="application/xml" >
			<ee:repeatable-file-store-stream bufferUnit="MB" />
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET,POST,PUT,DELETE",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response>
				<http:body ><![CDATA[#[error]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="a2f3a55f-2646-4a09-b136-e9a0e2eb7344">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns gs 8080/api/v1/space-marines
---
{
	gs#getSpaceMarineRequest: {
		gs#id: attributes.uriParams.'id'
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getSpaceMarine" doc:name="Consume" doc:id="7d35c016-2b26-4f54-94ea-4dec5a97fc64" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message Space Marine" doc:id="a20494d9-86cc-43dd-86d9-a5bf7dfddb93" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns gs 8080/api/v1/space-marines
---
{
	SpaceMarine: {
		id: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#id default 0,
		name: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#name default "",
		coordinates: {
			x: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#coordinates.gs#x default 0,
			y: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#coordinates.gs#y default 0
		},
		creationDate: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#creationDate default |1815-12-10|,
		health: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#health default 0,
		loyal: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#loyal default true,
		height: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#height default 0,
		meleeWeapon: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#meleeWeapon default "",
		chapter: {
			name: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#chapter.gs#name default "",
			parentLegion: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#chapter.gs#parentLegion default "",
			world: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#chapter.gs#world default ""
		},
		starshipId: payload.body.gs#getSpaceMarineResponse.gs#spaceMarine.gs#starshipId default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="69db498e-583a-41fd-bd49-dd18e05f1afb" type="ANY" >
				<ee:transform doc:name="Transform Message" doc:id="50c113d3-34e9-4e9d-960e-62f040b17103" >
					<ee:message >
						<ee:set-payload ><![CDATA[output application/xml
ns ns0 8080/api/v1/space-marines
ns soap http://schemas.xmlsoap.org/soap/envelope/
---
{
	soap#Envelope: {
		soap#Body: {
			soap#Fault: {
				faultcode: error.errorMessage.payload,
				faultstring: error.description,
			}   
		}
}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="52476380-beae-4e48-be88-7b47b8744555" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="createSpaceMarine" doc:id="fb11d909-add9-45b4-94d1-79deeda0162f" >
		<http:listener doc:name="Listener" doc:id="b9ec605b-8b1c-47d7-8c3c-b0b09efed217" config-ref="HTTP_Listener_config" path="/api/v1/space-marines" outputMimeType="application/xml" allowedMethods="POST">
			<http:response statusCode="201">
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET,POST,PUT,DELETE",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[read(error.cause.cause.detail,'application/xml').detail.errorCode]" >
				<http:body ><![CDATA[#[output application/xml --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="e077a21c-df0b-47a5-b6f8-9f301270c6af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns gs 8080/api/v1/space-marines
---
{
	gs#createSpaceMarineRequest: {
		gs#name: payload.SpaceMarine.name,
		gs#coordinates: {
			gs#x: payload.SpaceMarine.coordinates.x,
			gs#y: payload.SpaceMarine.coordinates.y
		},
		gs#health: payload.SpaceMarine.health,
		gs#loyal: payload.SpaceMarine.loyal,
		gs#height: payload.SpaceMarine.height,
		gs#meleeWeapon: payload.SpaceMarine.meleeWeapon,
		gs#chapter: {
			gs#name: payload.SpaceMarine.chapter.name,
			gs#parentLegion: payload.SpaceMarine.chapter.parentLegion,
			gs#world: payload.SpaceMarine.chapter.world
		},
		gs#starshipId: payload.SpaceMarine.starshipId
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="createSpaceMarine" doc:name="Consume" doc:id="bcfab89b-b8d9-46c1-96da-09f750caf792" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="89fbe0d4-291b-4547-94c2-ab5ecd183bd1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 8080/api/v1/space-marines
---
{
	SpaceMarine: {
		id: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#id default 0,
		name: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#name default "",
		coordinates: {
			x: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#coordinates.ns0#x default 0,
			y: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#coordinates.ns0#y default 0
		},
		creationDate: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#creationDate default |1815-12-10|,
		health: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#health default 0,
		loyal: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#loyal default true,
		height: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#height default 0,
		meleeWeapon: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#meleeWeapon default "",
		chapter: {
			name: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#chapter.ns0#name default "",
			parentLegion: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#chapter.ns0#parentLegion default "",
			world: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#chapter.ns0#world default ""
		},
		starshipId: payload.body.ns0#createSpaceMarineResponse.ns0#spaceMarine.ns0#starshipId default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateSpaceMarineTODO" doc:id="59a4dbeb-0be4-41c3-9d5e-29bd6c7c8086" >
		<http:listener doc:name="Listener" doc:id="7d9132a4-80a8-4b48-9d81-90f6ae882cd5" config-ref="HTTP_Listener_config" path="/api/v1/space-marinestodo" outputMimeType="application/xml" allowedMethods="POST" >
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET,POST,PUT,DELETE",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[read(error.cause.cause.detail,'application/xml').detail.errorCode]" >
				<http:body ><![CDATA[#[output application/xml --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="a56e3de2-ddf1-49f6-89e7-90ff35a3ed7e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns gs 8080/api/v1/space-marines
---
{
	gs#createSpaceMarineRequest: {
		gs#name: payload.SpaceMarine.name,
		gs#coordinates: {
			gs#x: payload.SpaceMarine.coordinates.x,
			gs#y: payload.SpaceMarine.coordinates.y
		},
		gs#health: payload.SpaceMarine.health,
		gs#loyal: payload.SpaceMarine.loyal,
		gs#height: payload.SpaceMarine.height,
		gs#meleeWeapon: payload.SpaceMarine.meleeWeapon,
		gs#chapter: {
			gs#name: payload.SpaceMarine.chapter.name,
			gs#parentLegion: payload.SpaceMarine.chapter.parentLegion,
			gs#world: payload.SpaceMarine.chapter.world
		},
		gs#starshipId: payload.SpaceMarine.starshipId
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="createSpaceMarine" doc:name="Consume" doc:id="6bcad298-12a5-4015-8f15-cbaf034413d5" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="updateSpaceMarine" doc:id="efe24efc-a9eb-4a87-af42-10d66c2efa0f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns gs 8080/api/v1/space-marines
---
{
	getSpaceMarineResponse: payload.body.gs#getSpaceMarineResponse default []
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteSpaceMarineRequest" doc:id="24e8192e-dc0c-4f93-9e1d-1d51e610d822" >
		<http:listener doc:name="Listener" doc:id="03e2eb5f-c530-4d0b-83d6-2bd4ac776d28" config-ref="HTTP_Listener_config" path="/api/v1/space-marines/{id}" outputMimeType="application/xml" allowedMethods="DELETE" >
			<http:response statusCode="204">
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET,POST,PUT,DELETE",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[read(error.cause.cause.detail,'application/xml').detail.errorCode]" >
				<http:body ><![CDATA[#[output application/xml --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="dadc7218-410c-4e08-bff5-a98e6bd04d78" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns gs 8080/api/v1/space-marines
---
{
	gs#deleteSpaceMarineRequest: {
		gs#id: attributes.uriParams.'id'
	},
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="deleteSpaceMarine" doc:name="Consume" doc:id="f8182270-f935-4050-91f4-888258c3fef6" config-ref="Web_Service_Consumer_Config" />
	</flow>
	<flow name="deleteByMeleeWeapon" doc:id="26bb5eab-95d9-4562-a057-833ac85a057f" >
		<http:listener doc:name="Listener" doc:id="ebf87c0d-4e50-4e01-883d-cf5f324465e4" config-ref="HTTP_Listener_config" path="/api/v1/space-marines/melee-weapon/{meleeWeapon}" outputMimeType="application/xml" allowedMethods="DELETE" >
			<http:response statusCode="204">
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET,POST,PUT,DELETE",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[read(error.cause.cause.detail,'application/xml').detail.errorCode]" >
				<http:body ><![CDATA[#[output application/xml --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="284311ae-c773-4e69-935a-76f669dd1c6e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns gs 8080/api/v1/space-marines
---
{
	gs#deleteByMeleeWeaponRequest: {
		gs#meleeWeapon: attributes.uriParams.'meleeWeapon'
	},
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="deleteByMeleeWeapon" doc:name="Consume" doc:id="4994bee5-8963-4716-b919-76323a673253" config-ref="Web_Service_Consumer_Config" />
	</flow>
	<flow name="getMinSpaceMarine" doc:id="2c1763da-7261-4b76-b8cf-83c1b130cf67" >
		<http:listener doc:name="Listener" doc:id="42f69a28-e8c1-416a-a083-e99ee92a1907" config-ref="HTTP_Listener_config" path="/api/v1/space-marines/coords/min" outputMimeType="application/xml" >
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET,POST,PUT,DELETE",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[read(error.cause.cause.detail,'application/xml').detail.errorCode]" >
				<http:body ><![CDATA[#[output application/xml --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="50cc5962-9e8d-47dc-9cda-cf13e203682b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns gs 8080/api/v1/space-marines
---
{
	gs#getMinSpaceMarineRequest: ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getMinSpaceMarine" doc:name="Consume" doc:id="37adbd91-e222-49e6-8da0-018657e23746" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="4e16a91e-bd7b-48c6-87a7-abb3a9157a34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 8080/api/v1/space-marines
---
{
	SpaceMarine: {
		id: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#id default 0,
		name: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#name default "",
		coordinates: {
			x: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#coordinates.ns0#x default 0,
			y: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#coordinates.ns0#y default 0
		},
		creationDate: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#creationDate default |1815-12-10|,
		health: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#health default 0,
		loyal: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#loyal default true,
		height: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#height default 0,
		meleeWeapon: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#meleeWeapon default "",
		chapter: {
			name: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#chapter.ns0#name default "",
			parentLegion: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#chapter.ns0#parentLegion default "",
			world: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#chapter.ns0#world default ""
		},
		starshipId: payload.body.ns0#getMinSpaceMarineResponse.ns0#spaceMarine.ns0#starshipId default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="countByHealth" doc:id="add15114-36c0-4c57-b98a-7f69eee38a03" >
		<http:listener doc:name="Listener" doc:id="1aca8e5e-ff0e-4a9b-bd97-75c077d726b0" config-ref="HTTP_Listener_config" path="/api/v1/space-marines/health/{health}" outputMimeType="application/xml" >
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET,POST,PUT,DELETE",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[read(error.cause.cause.detail,'application/xml').detail.errorCode]" >
				<http:body ><![CDATA[#[output application/xml --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="c50aaf7d-2b2a-4ee2-95a7-525aca84391c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns gs 8080/api/v1/space-marines
---
{
	gs#countByHealthRequest: {
		gs#health: attributes.uriParams.'health'
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="countByHealth" doc:name="Consume" doc:id="771e4812-c404-4327-9a57-6eabbd38d334" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message1" doc:id="78c2bee3-0800-422e-9741-699c8143714a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 8080/api/v1/space-marines
---
{
	SpaceMarinesCount: payload.body.ns0#countByHealthResponse.ns0#count
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateSpaceMarine" doc:id="d7b4abd0-f29e-4239-824c-ee63b9017219">
		<http:listener doc:name="Listener" doc:id="800f78b9-78f2-44b9-a05b-009983c80a33" config-ref="HTTP_Listener_config" path="/api/v1/space-marines/{id}" outputMimeType="application/xml" allowedMethods="PUT">
			<http:response statusCode="200">
				<http:headers><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET,POST,PUT,DELETE",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[read(error.cause.cause.detail,'application/xml').detail.errorCode]">
				<http:body><![CDATA[#[output application/xml --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="8ceb682b-8416-47bd-a7c3-dd3a8ef3cbf3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns gs 8080/api/v1/space-marines
---
{
	gs#updateSpaceMarineRequest: {
		gs#id: attributes.uriParams.'id',
		gs#name: payload.SpaceMarine.name,
		gs#coordinates: {
			gs#x: payload.SpaceMarine.coordinates.x,
			gs#y: payload.SpaceMarine.coordinates.y
		},
		gs#health: payload.SpaceMarine.health,
		gs#loyal: payload.SpaceMarine.loyal,
		gs#height: payload.SpaceMarine.height,
		gs#meleeWeapon: payload.SpaceMarine.meleeWeapon,
		gs#chapter: {
			gs#name: payload.SpaceMarine.chapter.name,
			gs#parentLegion: payload.SpaceMarine.chapter.parentLegion,
			gs#world: payload.SpaceMarine.chapter.world
		},
		gs#starshipId: payload.SpaceMarine.starshipId
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="updateSpaceMarine" doc:name="Consume" doc:id="27c7c975-2744-407b-8f3c-548f6359d0f0" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="9025fada-d828-4f9d-b97d-e34e472ed285">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 8080/api/v1/space-marines
---
{
	SpaceMarine: {
		id: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#id default 0,
		name: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#name default "",
		coordinates: {
			x: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#coordinates.ns0#x default 0,
			y: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#coordinates.ns0#y default 0
		},
		creationDate: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#creationDate default |1815-12-10|,
		health: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#health default 0,
		loyal: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#loyal default true,
		height: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#height default 0,
		meleeWeapon: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#meleeWeapon default "",
		chapter: {
			name: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#chapter.ns0#name default "",
			parentLegion: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#chapter.ns0#parentLegion default "",
			world: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#chapter.ns0#world default ""
		},
		starshipId: payload.body.ns0#updateSpaceMarineResponse.ns0#spaceMarine.ns0#starshipId default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="createStarship" doc:id="49a9f463-ba22-4a19-970e-9ef5495f9eb4" >
		<http:listener doc:name="Listener" doc:id="e26598c9-23a4-44ba-a4b7-bc8784c944fe" config-ref="HTTP_Listener_config" path="/api/v1/starship/{id}/{name}" allowedMethods="POST">
			<http:response statusCode="201" />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="82bcd231-7215-4d33-ba18-dfd6105b5424" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 8080/api/v1/space-marines
---
{
	ns0#createStarshipRequest: {
		ns0#id: attributes.uriParams.'id',
		ns0#name: attributes.uriParams.'name'	
		}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="bf0d6652-b1a6-486d-9408-578230dee385" config-ref="Web_Service_Consumer_Config" operation="createStarship"/>
		<ee:transform doc:name="Transform Message" doc:id="ec29542f-ed54-471e-9a4b-6ed2922e4c15" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 8080/api/v1/space-marines
---
{
	Starship: {
		id: payload.body.ns0#createStarshipResponse.ns0#starship.ns0#id,
		name: payload.body.ns0#createStarshipResponse.ns0#starship.ns0#name
		}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="unloadSpaceMarine" doc:id="2b4fa52f-0bd3-47de-be12-e63ea3f98d06" >
		<http:listener doc:name="Listener" doc:id="f3d95fad-c6fd-4975-bf68-bb1a14653d8b" config-ref="HTTP_Listener_config" path="/api/v1/starship/{starshipId}/unload/{spaceMarineId}" allowedMethods="PUT">
			<http:response statusCode="204" />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="a4e2a020-0a6f-4373-95f7-aafbdcc70bd2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 8080/api/v1/space-marines
---
{
	ns0#unloadSpaceMarineRequest: {
		ns0#spaceMarineId: attributes.uriParams.'spaceMarineId',
		ns0#starshipId: attributes.uriParams.'starshipId'
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="unloadSpaceMarine" doc:name="Consume" doc:id="50f69cad-31ec-47e1-a828-7bf2d254032b" config-ref="Web_Service_Consumer_Config" />
	</flow>
	<flow name="getFlats" doc:id="c10e3838-1722-4a68-ab6c-541866c4f65a" >
		<http:listener doc:name="Listener" doc:id="70049a64-3c56-449a-b4d4-90ae18674537" config-ref="HTTP_Listener_config" path="/catalog/flats" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
	"Access-Control-Allow-Headers" : "*",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:error-response>

		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="dc43bda9-0343-401d-94c9-57771c2d483b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/xml skipNullOn="everywhere"
ns ns0 http://se/ifmo/ru/firstservice/catalog
---
{
	ns0#getFlatsRequest: {
		ns0#sort: attributes.queryParams.sort,
		ns0#filter: attributes.queryParams.filter,
		ns0#page: attributes.queryParams.page,
		ns0#pageSize: attributes.queryParams.pageSize
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getFlats" doc:name="Consume" doc:id="14ae1047-e551-4462-8406-f674927fd38d" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="a9b95560-913f-40b5-901c-06b9afb431d7" />
		<ee:transform doc:name="Transform Message" doc:id="8e612419-8f9f-4450-8f7d-bd10504fca10" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://se/ifmo/ru/firstservice/catalog

output application/json
---
{
	"flatGetResponseDtos": payload.body.ns0#getFlatsResponse.*ns0#flatGetResponseDtos map (item, index) -> item,	"page": payload.body.ns0#getFlatsResponse.ns0#page,	"pageSize": payload.body.ns0#getFlatsResponse.ns0#pageSize,	"totalPages": payload.body.ns0#getFlatsResponse.ns0#totalPages,	"totalCount": payload.body.ns0#getFlatsResponse.ns0#totalCount
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e25367fd-de2a-4810-9d7a-0445f6911c0c" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="3d6100ff-164e-44f8-8953-bfe77e26c8e7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var detail = read(error.exception.cause.detail, "application/xml")
---
{
	"code": detail.detail.code,
	"message": detail.detail.description,
	"time": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="70d31ccc-2447-48d8-aa3b-5ae75da15a1e" />
			</on-error-propagate>
		</error-handler>
	</flow>
	
</mule>
